<div>
    <div class="row">
        <div class="col-6 p-4 ">
          <h3>Random Quotes Generator</h3>
          <p>Welcome to our Random Quotes Generator! Discover a daily dose of inspiration, motivation, and wisdom with just a click. </p>
         <div class="text-center"><button type="button" class="btn btn-primary" (click)="toRegister()" data-mdb-ripple-init>Get Started</button>
         </div>
        </div>
        <div class="col-6">
          <img src="https://miro.medium.com/v2/resize:fit:2000/1*QBpUYoIpfd8IdKE2oHkkBQ.png" alt="" width="70%">
        </div>
    </div>
</div>
