<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Quotes Generator</title>
</head>
<body>

  <div class="container m-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Random Quotes Generator</h5>
       <div class="text-center">
        <button class="btn btn-primary btn-block m-2" id="generate-quote-btn" (click)="generate()">Generate Quote</button>
       </div>
        <div id="quote-display" class="mt-4 text-center">
          @if(result){
            <p>Quote : {{result.quote}}</p>
            <p>Author : {{result.author}}</p>
          }
          @else {
            <p class="lead">Click the button to generate a quote!</p>
          }
        </div>
      </div>
    </div>
  </div>
 
</body>
</html>
